
body{
    font-family: 'Montserrat', sans-serif;
}
#myCarousel .carousel-item {
    height: 38rem;
    background:black;
    color: white;
    background-position: center;
    background-size:cover;
}
#myCarousel .container {
    height: 38rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
    font-family: 'Montserrat', sans-serif;
}